/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}
/* dark-01 */
.dark-first{
    color: #131313;
}
/* dark-02 */
.dark-second{
    color: #424242;
}
/* dark-03 */
.dark-third{
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
}


/* header related style */
.header-background{
    background-color: rgba(255, 144, 14, 0.1);
}

/* nav relates style */
.nav-item{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    margin-right: 30px;
    font-size: 500;
    font-size: 18px;
    line-height: 26px;
}

.navbar{
    align-items: center;
    justify-content: space-between;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    
}
.brand{
    font-weight: 700;
    font-size: 45px;
}

/* banner related style */
.banner-titles{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    
    
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 30px;
    
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
}
.banner-image{
    width: 100%;
}

/* main first section related */


.first{
    margin-top: 130px;
}

.first-section-container{
    gap: 73px;
    align-items: center;
   
}

.image-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
   gap: 20px;
   margin-left: 166px;
}
img{
    width: 100%;
}
/* 
.text-containear ekhane margi dile image gulor moddhe ekta gao chole ase er jonno image container and text contaier er moddhe align item center problem solved */
.text-container{
    max-width: 537px;
    /* margin: 232px 0; */
    
}

.features-title{
   font-weight: 700; 
   font-size: 2.78rem;
}

.first-span{
    font-weight: 500;
}
.second-span{
    color: #FF900E;
}

.features-description{
  font-weight: 400;
  font-size: 1rem;  
}

/* third section of main */
.enjoy{
    max-width: 586px;   
}
.love{
    box-shadow: 5px 5px 10px 5px #D0D0D0;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px;
}
.love-title{
    font-weight: 700;
    font-size: 3.75rem;
    color: #131313;
}
.love-description{
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
    margin-bottom: 30px;
}
.drag-title{
    font-weight: 600;
    font-size: 1.40rem;
    color: #131313;
}
.drag-description{
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
}

.second-section-container{
    gap: 9.125rem;
}
.sister{
    max-width: 720px;
    height: 982px;
}

.year{
    font-weight: 700;
    font-size: 4rem;
    color: #FFFFFF;
}
.experience{
    font-weight: 500;  
    font-size: 1.56rem;
    color: #FFFFFF;
}
.btn-secondary{
    padding: 2.81rem;
    margin-left: -3.375rem;
    margin-top: -4.81rem;
}



/* for mobile */
@media screen and (max-width: 420px) {
    .display-flex{
        flex-direction: column;

    }
    .image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    img{
        width:100%;

    }
    .btn-secondary{
        margin: 0px;
    }  
    
    
}
/* for tablet */
@media screen and (min-width: 420.5px) and (max-width: 821px) {
    .display-flex{
        flex-direction: column;
    }
    .image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
    img{
        width: 100%;
    } 
    .btn-secondary{
        margin: 0px;
    }  
    
}